<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-expand-lg" style="background: #3C3C3C;">
    <img class="navbar-brand" src="../../../assets/img/Logo.png"
         id="logo_custom" alt="logo">
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="#">Career</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
