<header class="md-elevation-z7">
  <nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
    <a routerLink="/"><img class="navbar-brand" src="./assets/img/Logo.png" alt="logo"></a>
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-uppercase">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="#">Career</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
