.price-card {
  background: #ffffff;
  padding: 20px 0;
  margin: 0 0 12px 0;
  color: #000;
  font-family: 'Merriweather', serif;
  border-radius: 5px;
  font-size: 20px;
}

.order-card mat-card {
  padding: 250px 0 0 0;
  font-family: 'Merriweather', serif;
}

.order-card mat-card-footer {
  padding: 40px 0;
  font-family: 'Merriweather', serif;
  font-size: 28px;
}
.order-card mat-card-footer a{
   -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.order-card mat-card-footer a:hover{
  color: #FFDA00;;
}
