<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="price-card">
        BDT.20000/Month
      </div>
      <div class="order-card">
        <mat-card>
          <mat-card-footer>
            <a routerLink="/register">Order Place</a>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="price-card">
        BDT.15000/Month
      </div>
      <div class="order-card">
        <mat-card>
          <mat-card-footer>
            <a routerLink="/register">Order Place</a>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
